#header{}
#header .wrapper_top{
    height: 70px;
    background-color: #8e9c9e; 
}
#header .wrapper_top .logo{
    position: relative;
    float:left;
}
#header .wrapper_top .logo a{}
#header .wrapper_top .logo a img{
    width:250px;
    height:auto;
}

#header .wrapper_top .nav{
    position: relative;
    float: right;
    right: 210px;
}
#header .wrapper_top .nav ul{}
#header .wrapper_top .nav ul li{
    display: inline;
    list-style-type:none;    
}
#header .wrapper_top .nav ul li a{}

#header .wrapper_top .search{
    position:relative;
    float:right;
    left: 410px;
    margin-top: 10px;
}
#header .wrapper_top .search input{
    border-bottom:3px solid #ff0000;
    border-top: none;
    border-right: none;
    border-left: none;
}
#header .wrapper_top .search input:focus{
    outline:none;
}
#header .wrapper_top .search a{}
#header .wrapper_top .search a img{
    width:20px;
    height:auto;
}

#header .menu{
    position: relative;
    top:20px;
    text-align: center;
    display: flex;
    justify-content: center;
}
#header .menu ul{
    display: inline;
    text-align: center;
    margin:0 auto;
    list-style-type: none;

}   
#header .menu ul .menuList{
    list-style-type: none;
    display: inline;
    float: left;
    padding-left: 80px;
    padding-right: 80px;
}
#header .menu ul .menuList a{}
#header .menu ul .menuList a img{
    width: 50px;
    height: auto;
}
#header .menu ul .menuList a p{
    display:block; 
    font-size:15px;
    margin-top: -5px;  
}